
@font-face{
    font-family: font-bold;
    src: url(../font/Euclid\ Circular\ A\ Bold.ttf);
}
@font-face{
    font-family: font-light;
    src: url(../font/Euclid\ Circular\ A\ Light.ttf);
}
@font-face{
    font-family: font-medium;
    src: url(../font/Euclid\ Circular\ A\ Medium.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    font-family: font-light;
    box-sizing: border-box;
    font-size: 1rem;
    
}

body{
    width: 100%;
    position: relative;
}
header{

    margin-top: 4rem;
    /* width: calc(100vw - .7rem);
    height: 100vh;
    background: linear-gradient(#1a1a1a, #1a1a1ad8) ,url("/img/desarrollo_web.jpg");
    background-size:cover ;
    background-position: center;
    background-attachment: fixed; */
} 

ul{
    margin: 0;
}
.box_1{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav__text{
text-align: center;
color: var(--color-f);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.nav__text h2, .nav__text h3{
    width: 100%;
    margin: 0;
    font-family: var(--font-light);
    font-weight: 200;
}
.nav__text h2{
    font-size: 2rem;
}

.box_content{
    width: 100%;
    /* padding: 0 10rem; */
    text-align: center;
    color: var(--color-gris);
    padding: 0 2rem;
}

.seccion__gallery h2{
    margin-top: 1rem;
    text-align: center;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    overflow: hidden;
    gap: 1rem;
    margin: auto;
    padding: 1rem 1rem;
    background: #1a1a1aee;
    margin-top: 1rem;
}

.gallery__box{
    height: 250px; 
    border-radius: .2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
.gallery__box img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about__me{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: auto;
}
.about__me h2{
    display: inline-block;
    font-size: inherit;
    padding: 0 1rem;
    position: relative;
    margin: 1rem 0 0 0;

}
.about__me p{
    max-width: 600px;
    padding: 1rem 2rem;
    margin: auto;
}
.about__me h2::before{
    content: "";
    bottom: 0;
    left: 30px;
    background: rgba(238, 130, 238, 0.486);
    width: 110px;
    border-bottom: 2px solid var(--color-f);
    position: absolute;
}
.about__me h3{
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

.schedule td{
    display: revert ;
    padding: .5rem 1rem;
    /* border: 2px solid var(--gris-bajo);/ */
    
}
.schedule{
    display: none;
    margin: 1rem 0 0 0;
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
}

table thead{
    position: relative;
    
    color: rgb(0, 0, 0);
}
table thead td::before{
    content: "    ";
    bottom: 10px;
    width: 5rem;
    border-bottom: 2px solid black;
    position: absolute;
    transform: translate(-3px);
    visibility: hidden;
    opacity: 0;
}
table thead td:hover::before{
    transform: translate(5px);
    transition: .5s ease-in-out ;
    visibility: visible;
    opacity: 1;
}
table tbody{
    border-top: 1rem solid white;
}
.schedule tbody .table__box:hover{
    color: rgb(255, 255, 255);
    transform: translate(0, -5px);
    transition: .2s ease-in-out;
}

.table__box{
    border:1rem solid white;
    background: var(--color-f);
    color: white;
}
.secc__form{
    padding: 0 1rem;
}
.formulario{
    position: relative;
    margin: auto;
    padding: 2rem 0 ;
    text-align: center;
    box-shadow: 0 0 10px 1px var(--gris-bajo);
    border-radius: 10px;
    max-width: 400px;
    
}
.formulario h3{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
.form__grup{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    display: inline-block;
}
.input__label{
    color: var(--scroll-hover);
    font-family: var(--font-light);
    top: 2rem;
    left: 2rem;
    position: absolute;
    cursor: text;
    z-index: -10;
    padding: 0 .2rem;
}
.formulario input{
    border: none;
    outline: 1px solid var(--gris-bajo);
    border-radius: 5px;
    padding: 1rem 1.2rem;
    display: block;
    background: transparent;

}
.formulario input:focus{
    
    outline: 2px solid var(--color-goo);
    transition: .2s ease-in-out;
}
label{
    transition: all .3s;
}
input{
    width: 100%;
}
.label__active{
    top:.4rem;
    left: 2rem;
    font-size: .8rem;
    background: white;
    color: var(--color-goo);
    z-index: 10;
    padding: 0 .2rem;

}
.static__{
    top:.4rem;
    left: 2rem;
    font-size: .8rem;
    background: white;
    color: var(--color-goo);
    z-index: 10;
    padding: 0 .2rem;
}
.form__dubmit input{
    background: var(--color-goo);
    color: white;
    cursor: pointer;
}

.form__dubmit input:active{
    transform: scale(.95);
    transition: .2s ease-in-out;
}
.box__messsage{
    text-align: start;
    margin-top: 1rem;
    height: 10rem;
    padding: 0 1rem;
    width: 100%;
}
.box__messsage span{
    display: block;
}
.target__{
    transition: all .5s ;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.808);
    height: 100vh;
    overflow: hidden;
    z-index: 100;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    display: flex;
}
.box__img{
    
    width: 70%;
    height: 80vh;
    position: relative;
}
.close{
    cursor: pointer;
    transition: all .3s;
    border: none;
    padding: .5rem;
    right: 50px;
    top: 50px;
    position: absolute;
    width: 50px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.637);
}
.close:hover{
    
    background: rgb(255, 255, 255);
    
}
.close svg{

    width: 2rem;
    height: 2rem;
    color: white;
    font-size: 5rem;
}
.box__img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.342);
   

}
.target__most{
    opacity: 1;
    transform: scale(1);

}
.box__tec{
    margin: 2rem 0 0 0 ;
    text-align: center;
}
.box__tec h2{
    font-size: 1.5rem;
}
.box__tec p{
    display: inline-block;
    width: 300px;
    margin-top: 1rem;
    color: var(--color-gris);
}
.box__tec__conteiner{
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
    max-width: max-content;
}
.box__icon{
    width: 4rem;
    height: 4rem;
}
.box__icon svg{
    fill: var(--color-f);
    /* fill: red; */
    width: 100%;
    height: 100%;
}
.box__icon svg:hover{
    fill: #474747;
}


@media (min-width:600px) {
    
    .form__dubmit input:hover{
        outline-offset:1px solid var(--color-goo);
        background: transparent;
        color: var(--color-goo);
        cursor: pointer;
        transition: .2s ease-in-out;
    }
    .formulario{
        margin: auto;
    }
    .gallery{
        padding: 2rem;
        gap: 2rem;
        grid-template-columns: repeat(3,minmax(min-content,1fr));

    }

   
}

@media (min-width:790px){

    .schedule{
        width: max-content;
        display: block;
        padding: 1rem;

        margin:auto;
    }

    table thead{
        width: 100%;
    }
    .gallery{
        padding: 4rem;

    }
}












:root{
    --color-goo:#1a73e8;
    --title-header:5rem;
    --margi:8px;
    --gris-bajo:#dfdfdf;
    --color-gris: #929090;
    --color-d: #ced90b;
    --color-t:#adb60b;
    --color-f: #1a1a1a;
    --font-bold:font-bold;
    --font-light:font-light;
    --font-medium:font-medium;
    --scroll-:#606060;
    --scroll-hover:#909090;
}
::-webkit-scrollbar{
    width: .7rem;
    background: var(--gris-bajo);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--scroll-);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-hover);
}
